# name: Deploy API to server 

# on:
#   push:
#     branches: [ "main" ]

# concurrency:
#   group: deploy-backend
#   cancel-in-progress: true
  
# env:
#   REGISTRY: ghcr.io
#   IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/${{ github.repository }}

# permissions:
#   contents: read
#   packages: write   # для push в GHCR

# jobs:
#   # JOB 1: QUALITY CHECKS
#   # Runs before build to save time if code is broken
#   check-quality:
#     name: Quality Check
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v4

#       - name: Set up Python 3.12
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.12"
#           cache: "pip"

#       - name: Install Dependencies
#         run: |
#           pip install -r requirements.txt
#           pip install ruff

#       - name: Run Linter (Ruff)
#         run: ruff check src

#   # JOB 2: DOCKER BUILD & PUSH
#   build-and-push:
#     name: Docker Build
#     runs-on: ubuntu-latest
#     needs: check-quality
#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v4

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Login to GitHub Container Registry
#         uses: docker/login-action@v3
#         with:
#           registry: ${{ env.REGISTRY }}
#           username: ${{ github.actor }}
#           password: ${{ secrets.GITHUB_TOKEN }} 

#       - name: Build and Push
#         uses: docker/build-push-action@v6
#         with:
#           context: ./  
#           file: ./Dockerfile
#           push: true
#           tags: |
#             ${{ env.IMAGE_NAME }}:main
#             ${{ env.IMAGE_NAME }}:${{ github.sha }}
#           cache-from: type=gha
#           cache-to: type=gha,mode=max    

#   # JOB 3: DEPLOY TO SERVER (Inline Style)
#   deploy:
#     name: Deploy to Server
#     runs-on: ubuntu-latest
#     needs: build-and-push
#     steps:
#       - name: Add SSH Key
#         uses: webfactory/ssh-agent@v0.9.0
#         with:
#           ssh-private-key: ${{ secrets.DEPLOY_KEY }}

#       - name: Deploy via SSH
#         env:  
#           GHCR_USER: ${{ secrets.GHCR_USER }}
#           GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
#         run: |
#           # 1. Connect Directly (No Proxy)
#           # 2. Pass Environment Variables
#           # 3. Execute Inline Commands
#           ssh -o StrictHostKeyChecking=no dev@${{ secrets.DEPLOY_HOST }} "
#             set -e # Stop immediately if any command fails
            
#             # Export secrets for this session
#             export GHCR_USER=$GHCR_USER
#             export GHCR_TOKEN=$GHCR_TOKEN

#             echo '$GHCR_TOKEN' | docker login ghcr.io -u '$GHCR_USER' --password-stdin

#             cd /home/dev/app

#             docker compose pull

#             docker compose up -d

#             docker image prune -f
#           "